@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.activity {
  border: 2px;
  border: solid;
  border-color: #6ffd63;
  margin: 2rem;
  height: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 35px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

#a1 {
  margin-top: 10rem;
}

#a2 {
  margin-bottom: 10rem;
}
