body {
  background-color: #4786ff;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar li {
  list-style: none;
}
