.mabout
{
    background-color: rgb(76, 189, 226);
    margin-top:20px;
    margin-bottom:20px;
    padding:40px;
    border: 3px solid black;
}

.mheading
{
    color:orange;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

.mheading:hover
{
    color:rgb(99, 163, 99);
}

.mtext
{
    color:white;
    font-size:20px;
}

.mphotos
{
    background-color:rgb(76, 189, 226);
    margin-top:20px;
    margin-bottom:20px;
    padding:40px;
    border: 3px solid black;
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container
{
    border: 4px solid black;
    margin : 10px;
    display:flex;
    position:relative;
}

.pics
{
    width:300px;
    padding:0;
}

.container:hover
{
    border-color:white;
}

.toi
{
    position:absolute;
    bottom:8px;
    left:16px;
}

.ph
{
    color:orange;
}

.ph:hover
{
    color:white;
}